<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="lock-closed"></ion-icon>Password Manager</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="database.carregar()">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
  <ion-accordion 
    value="{{ dado.site }}" 
    *ngFor="let dado of database.dados;let indice = index;"
  >
    <ion-item slot="header" color="light">
      <ion-label>{{ dado.site }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">

      <ion-item lines="full">
        <ion-label>
          <h4>Login:</h4>
          <p>{{ dado.login }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>
          <h4>Senha:</h4>
          <ion-input type="{{ type_senha }}" value="{{ descripto(dado.senha) }}" [readonly]="true"></ion-input>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="showSenha()">
          <ion-icon name="{{ icon_senha }}"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" (click)=editar(dado)>
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button id="{{ dado.site }}" fill="clear" slot="end" color="danger" >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-alert 
          trigger="{{ dado.site }}" 
          class="custom-alert" 
          header="Tem certeza que deseja excluir?" 
          [buttons]="alertButtons"
          (didDismiss)="excluir($event,indice)"
        ></ion-alert>                      
      </ion-item>            
    </div>
  </ion-accordion>
</ion-accordion-group>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="goCadastro()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
